$font: 'Lato', sans-serif;;
$header-color: #333333;
$titulo-container: #48525e;
$padrao: 18px;
$cor-padrao:#666666;
$laranja: #E29933;
$cor-borda: #eaeaea;
$ativado:#49ad5b;
$inativo:#d6323f;
$aguardando:#d2a710;
$desativado:#d2d2d2;